/* .setCreatePost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
} */
/* .Manage-Width {
  width: 20rem;
} */
/* .EmailSetter {
  display: flex;
} */
